<html>
   <body>
      <form action = "http://localhost:5000/login" method = "post">
	<h1>录入功能展示</h1>
         <p >账号：<input type = "text" name = "nm" /></p>
         <p>密码：<input type = "text" name = "nm" /></p>

	<p>     性别：<input type="checkbox" name="running" >男
     	<input type="checkbox" name="reading" >女</p>

	<p>     网友爱好：<input type="checkbox" name="running" >刷抖音
     	<input type="checkbox" name="reading" >看直播
    	 <input type="checkbox" name="shopping" >打游戏</p>
<p>编程语言：
<select>
  <option value ="volvo">C语言</option>
  <option value ="saab">C++</option>
  <option value="opel">Java</option>
  <option value="audi">Python</option>
<option value="audi">Go</option>
<option value="audi">Basic</option>
</select></p>
	<p><input type = "submit" value = "取消" /><input type = "submit" value = "提交" /><input type = "submit" value = "暂存" /></p>
      </form>
   </body>
</html>